h3{color: blue;}
*/*комментарий*


/*селектор {
	#блок объявлений
	свойство1:значение1;
	свойство2:значение2;
	свойство3значение3;
}
Селктор+блок объявлений=правило

Типы селекторов
1. классы=>  .имя_класса
2. селекторы тегов=> имя_тега
3. индентификаторы=> #logo
4. Контекстные селекторы=> .имя_класса тег */

/*Классы*/
.circle {
	width: 50px;
	height: 50px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 50px;

}
селекторы тегов
body {
background: blue; 
}

#red{
	background-color: red;
}

#yellow{
	background-color: yellow;

}
#green{
	background-color: green;
}

.menu li {
	list-style-type: none;
}

.menu a {
	text-decoration: none;
}
/* группировка свойств*/
.block1{
	background: red;
	width:40px;
	height: 100px;
}
.block2{
	background: red;
	width:200px;
	height: 300px;
}
.block3{
	background: red;
	width
}


/*наследование*/
p{
	font-style: italic;
}

p.red_text{
	color: red;
}

типы значений стилевых св0йств
1. строки -"значение"
2. числа - 40 , 1.2;
3. проценты 40%;
4 размеры - 40px; 1.3em; 12pt, 60%
5. цвета - #ffffff ; red;  rgba(0, 0, 0)
6. адреса - url(../путь)
7. ключевые слова - left; top; none

/*псевдоклассы*/

a:hover {
	color: white;
}
a: link {


}

a:visited {

}

a:focus {

}

 :disabled{}
 :enable{}
 :checked {}

/* положение DOM дереве
 :root;
 li:nth-child(index){}етные элементы
  li:nth-child(odd}{}нчетные элементы
  li:nth-child(even){}конкретный элемент
  li:nth-child(an+b){}  

  :first-child {}; 1-ый дочерний элемент
  :last-child {}; последний дочерний элемент


/*ПСЕВДОЭЛЕМЕНТЫ*/

p: first-letter  {};
.row:after {
	clear: both;

}

p {
	color: red !important;
}

специфичность селектора
индентификатор - 100 /0.1.0.0
класс, псевдокласс - 10 / 0.01.0
элемент , псевдоэлемент -1 /0.0.0.1

h1 {
	color: red !important;
}

h1 {
	color: blue !important;
}






	
  